<p>error-page works!</p>


<ul>
    <li>
        <a routerLink="/auth/login">Ir a Login</a>
    </li>
    <li>
        <a routerLink="/auth/registro">Ir a registro heroe</a>
    </li>
    
    <li>
        <a routerLink="/heroes/listado">Ir a listado heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">Ir a agregar heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/editar/1">Ir a editar heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">Ir a buscar</a>
    </li>
    <li>
        <a routerLink="/heroes/4532">Ir a heroe</a>
    </li>



</ul>

